body{
    background-color: antiquewhite;
    margin: 10%;
    padding: auto;

}

h1{
    text-align: center;
    font-weight: bold;
    color:red;
}

h1:hover{
    transition: color 5s;
    color :hotpink;
    font-size: 50px;   
}
